#article {
  display: grid;
  width:80%;
  margin:auto;

  & > h2 {
    @include title(2.5rem);
    color: $blue;
    margin-bottom: 3rem;
    line-height: 3rem;
  }

  article {

    h2 {
      @include title(1.5rem);
      color: $red;
      margin-bottom: 2.5rem;
      line-height: 3rem;
    }

    h3 {
      @include title(1.2rem);
      color: $green;
      margin-bottom: 2rem;
      line-height: 2.5rem;
    }

    p {
      @include content(400, 1.2rem);
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }

    pre {
      background-color: $grey;
      padding:1rem;
      font-family: monospace;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }

    code {
      background-color: $grey;
      font-family: monospace;
      font-size: 1rem;
      padding: .25rem;
    }
  }
}

