{% extends "layout.html.twig" %}

{% block main %}
    <main id="blog">
        <ul>
        {% for data in articles %}
            <li>
                <article>
                    <header>
                        <h2>
                            {{ data.titre }}
                        </h2>
                    </header>
                    <section>
                        <p>
                            {{ data.resume }}
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
